
  <div class="media-body">
    <div class="media">
      <div class="media-body">
        <div class="msg"></div>
        <br>
        <small class="text-muted"><span class="user-span"></span> | <span class="time-span"></span></small>
              <hr>
            </div>
    </div>
  </div>
